* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background: #000;
    color: #a0a0a0;
    line-height: 1.6;
    font-family: Montserrat;
}

/* Sidebar */
.container {
    max-width: 1050px;
    display: flex;
    background: #000;
    gap: 30px;
    margin: 0 auto;
    justify-content: center;
    padding-top: 30px;
}

.sidebar {
    background: #1e1e1e;
    max-width: 250px;
    border-radius: 12px;
    min-height: 80vh;
    position: fixed;
    left: 17.5%;
    padding: 30px;
}

/* Profile */
.profile {
    text-align: center;
}

.profile img {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    border: 1px solid #eac44f;
    object-fit: cover;
    object-position: top;
}

.profile h2 {
    color: #a0a0a0;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 400;
}

.profile p {
    color: #FFBF00;
    font-size: 8px;
    font-weight: 400;
    background-color: #000;
    padding: 7px 30px;
    border: 2px solid #000;
    border-radius: 10px;
    display: inline-block;
    margin-top: 5px;
}

.profile p:hover {
    /* text-shadow: 1px 1px 1px #FF0000; */
    border: 1px solid #757474;
}

.contact {
    border-top: 1.5px solid #3a3a3a;
    padding: 10px 0;
    margin: 20px 0 10px 0;
}

.label {
    color: #a0a0a0;
    font-size: 10px;
    margin-top: 5px;
    font-weight: 300;   
}

.value {
    color: #e0e0e0;
    font-size: 10px;
    font-weight: 400;
}

.value:hover {
    transform: scale(1.05);
}

.contact a {
    text-decoration: none;
    display: inline-block;
}

.social {
    border-top: 1.5px solid #3a3a3a;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.social img {
    height: 20px;
    width: 25px;
    filter: brightness(0) saturate(100%) invert(79%) sepia(5%) saturate(15%) hue-rotate(340deg) brightness(81%) contrast(89%);
}

.social a:hover {
    transform: scale(1.2);
}


/* Main-content */
.main-content {
    background: #1e1e1e;
    width: 60%;
    background-color: rgb(82, 64, 33);
    border-radius: 12px;
    position: relative;
    left: 170px;
}